<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Загрузка Microsoft Project</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/libs/bootstrap.min.js}"></script>
</head>
<body>
<form method="post" th:action="@{/import/mpp}" enctype="multipart/form-data">
    <div class="container">
        <div class="form-group">
            <label for="projectSelect">Проект: </label>
            <select name="projectList" class="form-control" id="projectSelect" th:name="projectId">
                <option th:each="project : ${projectList}" th:value="${project.id}" th:text="${project.name}"></option>
            </select>
        </div>
        <div class="form-group">
            <input type="file" class="form-control-file" id="projectFile" th:name="file">
        </div>
        <button type="submit" th:name="action">Загрузить</button>
    </div>
</form>
</body>
</html>